@import "tailwindcss";


@theme {

  /* font family */
  --font-primary: "Poppins", "Open Sans", serif;
 

  /* screen size */
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;


  /* primary color */
  --color-primary-1: #002B5B;
  
  /* secondary color */
  --color-secondary-1: #F4F4F4;

  /* tertiary color */
  --color-tertiary-1: #333333;
  
}


